html {
    max-width: 1440px;
    scroll-behavior: smooth;
    display: block;
    margin: auto;
}
body {
    width: 1440px;
    margin: 0;
}
main {
    width: 1440px;
    margin: 0;
}

/* Header */
header {
    width: 1440px;
    height: 64px;
    margin: 0;
    background-color: white;
}
.header_container {
    display: flex;
    width: 1276px;
    height: 64px;
    margin: 0px 82px;
}
.logo_block {
    display: flex;
    width: 141px;
    height: 40px;
    margin: 12px 759px 12px 0px;
    cursor: pointer;
}
.logo {
    margin: 8px 8px 8px 20px;
}
.logo_text {
    width: 69px;
    height: 16px;
    margin: 10px 20px 12px 0px;
}
.logo_text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.5px;
}
.burger_menu {
    display: none;
    width: 40px;
    height: 40px;
    z-index: 2;
    cursor: pointer;
}
.burger {
    display: none;
    width: 21px;
    height: 2px;
    background-color: #181C29;
    margin: 6px 0;
}
.header_navigation {
    width: 376px;
    height: 40px;
    margin: 12px 82px 12px 0px;
}
.navigation {
    width: 376px;
    height: 40px;
    margin: 0;
}
.nav {
    width: 376px;
    height: 40px;
    display: flex;
    margin: 0;
    padding-left: 0;
    gap: 8px;
    list-style-type: none;
}
.nav li {
    padding: 12px 20px 12px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.6px;
    cursor: pointer;
}
.nav li:hover {
    color: #FF4646;
    background-color: #FF46461A;
    border-radius: 12px;
    transition: 0.5s;
}