html {
    max-width: 1440px;
    scroll-behavior: smooth;
    display: block;
    margin: auto;
}
body {
    width: 1440px;
    margin: 0;
}
main {
    width: 1440px;
    margin: 0;
}

/* Header */
header {
    width: 1440px;
    height: 64px;
    margin: 0;
    background-color: white;
}
.header_container {
    display: flex;
    width: 1276px;
    height: 64px;
    margin: 0px 82px;
}
.logo_block {
    display: flex;
    width: 141px;
    height: 40px;
    margin: 12px 759px 12px 0px;
    cursor: pointer;
}
.logo {
    margin: 8px 8px 8px 20px;
}
.logo_text {
    width: 69px;
    height: 16px;
    margin: 10px 20px 12px 0px;
}
.logo_text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.5px;
}
.header_navigation {
    width: 376px;
    height: 40px;
    margin: 12px 82px 12px 0px;
}
.navigation {
    width: 376px;
    height: 40px;
    margin: 0;
}
.nav {
    width: 376px;
    height: 40px;
    display: flex;
    margin: 0;
    padding-left: 0;
    gap: 8px;
    list-style-type: none;
}
.nav li {
    padding: 12px 20px 12px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.6px;
    cursor: pointer;
}
.nav li:hover {
    color: #FF4646;
    background-color: #FF46461A;
    border-radius: 12px;
    transition: 0.5s;
}
.non_interactive {
    pointer-events: none;
}
/* Main */
/* Section gifts */
.gifts {
    width: 1440px;
    height: 1394px;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color: #FF4646;
    background-image: url(img/bggarland.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.gifts_container {
    width: 1276px;
    height: 1274px;
    margin: 0;
    padding-top: 60px;
    padding-left: 82px;
    display: flex;
    flex-direction: column;
}
.headerone {
    width: 426px;
    height: 144px;
    margin: 0;
    padding-left: 425px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 5.5px;
}
.filters {
    width: 474px;
    height: 40px;
    margin: 0;
    padding-top: 20px;
    padding-left: 401px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.filter {
    padding: 12px 20px 12px 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.6px;
    cursor: pointer;
}
.filter:hover,
.filter.active{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    transition: 0.5s;
}
.filter.active{
    pointer-events: none;
}
.gifts_block {
    width: 1276px;
    height: 1050px;
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.gift {
    width: 310px;
    height: 342px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.gift img {
    width: 310px;
    height: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #ECF3F8;
}
.gift_description {
    width: 310px;
    height: 112px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.gift_work,
.gift_health,
.gift_harmony {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.5px;
}
.gift_work {
    color: #4361FF;
}
.gift_health {
    color: #06A44F;
}
.gift_harmony {
    color: #FF43F7;
}
.gift_name {
    display: flex;
    padding-top: 9px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 1.2px;
}
.gift:hover .gift_name {
    color: #FF4646;
    transition: 0.5s;
}

/* FOOTER */
footer {
    width: 1440px;
    height: 496px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
.footer_container {
    width: 1276px;
    height: 376px;
    padding-top: 46px;
    padding-left: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacts_block {
    width: 1276px;
    height: 204px;
    margin: 0;
    padding-top: 30px;
    display: flex;
    gap: 12px;
}
.contacts a {
    width: 417.33px;
    height: 204px;
    background-color: #ECF3F8;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
}
.footer_img {
    width: 80px;
    height: 76.84px;
    padding-top: 21.87px;
    padding-left: 168.87px;
}
.connect {
    width: 377.33px;
    height: 36px;
    padding-top: 12px;
    padding-left: 23px;
    color: #181C29;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 4px;
    text-align: center;
}
.contacts:hover .connect {
    color: #FF4646;
    transition: 0.5s;
}
.calltoaction {
    width: 377.33px;
    height: 24px;
    padding-top: 12px;
    padding-left: 23px;
    color: #181C29;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 1.28px;
    text-align: center;
}
.contacts:hover .calltoaction {
    color: #FF4646;
    transition: 0.5s;
}
.footer_signature {
    width: 1276px;
    height: 112px;
    margin: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social {
    width: 196px;
    height: 40px;
    display: flex;
    padding-top: 0;
    padding-left: 540px;
    gap: 12px;
}
.social_img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.social_img:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(93%) saturate(2568%) hue-rotate(333deg) brightness(102%) contrast(109%);
}
.year {
    width: 301px;
    height: 24px;
    padding-top: 12px;
    padding-left: 487.5px;
    color: #181C29;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
}
.rsschool {
    width: 290px;
    height: 24px;
    padding-top: 12px;
    padding-left: 493px;
    color: #181C29;
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}
.rsschool:hover {
    color: #FF4646;
    transition: 0.5s;
}